body {
    height: 100px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    background: radial-gradient( #67e1e6 0%, #22aece 47%, #267db8 100%) no-repeat center center fixed;
    background-size: cover;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
}

h1 {
    color: white;
}

#userinput {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 1em;
    background: transparent;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    outline: none; 
}

#enter {
    font-size: 1em;
    padding: 5px 15px;
    background-color: #267db8;
    border: none;
    border-radius: 10px;
    outline: none;
}

#enter:hover {
    cursor: pointer;
    color: white;
    background-color: #229dce;
}

#list {
    list-style-type: none;
    width: 350px;
    margin: 50px auto;
    padding: 0;
    color: #011a75;
    font-weight: bold;
}

li {
    margin-left: 20px;
    padding-left: 30px; 
    text-align: left;
    font-size: 20px;
    transition: all 50ms;
}

li:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.remove-item {
    margin: 5px 20px 3px 10px;
    background-color: white;
    outline: none;
    border: 2px solid whitesmoke;
    border-radius: 100%;
}

.remove-item:hover {
    background-color: #267db8;
}

.done {
    text-decoration: line-through;
}
